*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #273c75;
}

/**######### NAV BAR ##############**/


#nav-bar{
	height: 60px;
	background-color: #192a56;
	display: flex;
	position: fixed;
	width: 100%;
	box-shadow: 2px 2px 5px 8px rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	z-index: 10;
}

#nav-left{
	display: flex;
	width: 20%;
	justify-content: space-around;
}

#nav-right{
	display: flex;
	width: 40%;
	justify-content: space-around;
}
#nav-left a{
	text-decoration: none;
}

/**nav-left logo**/
#nav-logo{
	display: flex;
	cursor: pointer;
	width: 50%;
}

#nav-logo i{
	position: relative;
	font-size: 3rem;
	color: #44bd32;
	top: 5px;
}

#nav-logo p{
	color: grey;
	font-weight: bold;
	font-size: 1.5rem;
	margin-left: 5%;
	margin-top: 2%;
}

#nav-logo p b{
	color: lightgrey;
}

/**nav-left favourites**/
#nav-fav{
	margin-top: 5%;
}

#nav-fav a{
	text-decoration: none;
}

#nav-fav a p{
	font-size: 1.2rem;
	color: lightgrey;
}


#nav-fav a p:hover{
	color: grey;
}


/**nav-right**/
#bell-icon{
	margin-top: 2.5%;
}

#bell-icon i{
	font-size: 1.5rem;
	cursor: pointer;
	color: white;
}


/**nav-right search**/

#nav-search{
	margin-top: 2%;
	position: relative;
}

#nav-search div{
	background-color: #40739e;
	border-radius: 8px;
	padding: 10px;
}

#nav-search div input{
	background-color: #40739e;
	padding: 2px;
	border: none;
	outline: none;
	color: white;
}


#nav-search div input::placeholder{
	color: darkgrey;
}

/**menu**/
#menu{
	font-size: 2rem;
	color: lightgrey;
	margin-top: 8px;
	max-width: 0;
	overflow: hidden;
}
#menu #menu-check{
	display: none;
}
#menu label{
	cursor: pointer;
}


/**menu opened**/
#menu-open{
	max-width: 0;
}

#menu-open-items{
	width: 99%;
}

.m-items{
	background-color: #192a56; 
	display: flex;
	justify-content: center;
	padding: 5%;
	margin-top: 1%; 
	margin-left: 1%;
	cursor: pointer;
}

#nav-fav-2 a{
	text-decoration: none;
	color: grey;
}

#nav-search-2 div{
	background-color: #40739e;
	border-radius: 8px;
	padding: 10px;
	max-width: 200px;
	overflow: hidden;
}

#nav-search-2 div input{
	background-color: #40739e;
	padding: 2px;
	border: none;
	outline: none;
	color: white;
	font-size: 19px;
	font-family: cursive;
}


#nav-search-2 div input::placeholder{
	color: darkgrey;
}

/**profile pic**/
#profile-pic{
	margin-top: 5px;
	height: 50px;
	width: 50px;
	overflow: hidden;
	background-image: url('../static/ProfilePhoto/ProfilePic.png');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
}


/**##############-----------ASIDE SECTION-----------##############**/
aside{
	display: inline-block;
	position: fixed;
	top: 90px;
	width: 25vw;
	height: 73vh;
}
aside section{
	height: 100%;
	width: 100%;
}

/**aside heading and drop down**/
#aide-heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#aide-heading p{
	font-size: 1.8rem;
	font-family: sans-serif;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #FFFFFF;
}
#drop-down{
	text-align: right;
}
#drop-down select{
	font-weight: bold;
	letter-spacing: 1px;
	font-family: cursive;
	border: none;
	outline: none;
	font-size: 1rem;
	text-align: right;
	width: auto;
	background-color: transparent;
	color: orange;
	cursor: pointer;
}

/**content**/
#aside-content{
	height: 92%;
	overflow: auto;
}

/**tabs**/
.tabs{
	margin-top: 16px;
	width: 100%;
	height: 12%;
}
.tabs input{
	display: none;
}
.song-tabs {
    display: flex;
    width: 95%;
    height: 100%;
    cursor: pointer;
}


/***********tabs left**************/
.song-tab-left{
	width: 85%;
	height: 100%;
	display: flex;
	align-items: center;
}

/**number and animated icon**/
.sno i{
	position: absolute;
	visibility: hidden;
	top: 0;
}

.sno{
	font-size: 15px;
	color: lightgrey;
	font-family: sans-serif;
	position: relative;
}

/**artist and song name**/
.aside-song-name{
	color: white;
	font-size: 18px;
	font-family: cursive;
}
.aside-artist{
	color: #939393;
}

/**thumbnail**/
.aside-thumbnail-container{
	height: 80%;
	width: 20%;
	margin:0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 15px 1px rgba(87, 250, 233, 0.3);
	transition: transform 0.5s;
}

.song-tabs:hover > .song-tab-left .aside-thumbnail-container{
	transform: scale(1.2);
} 
#tab1-thumb{
	height: 100%;
	width: 100%;
}

/************tabs right*****************/
.song-tab-right{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.song-tab-right i{
	position: absolute;
}
.song-tab-right .heart-solid{
	transform: scale(0.9);
	color: transparent;

}
.song-tab-right label{
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.heart-hollow{
	color: white;
}

/**Hearts Favourite**/
#mirage-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#perfect-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#slim-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#raabata-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#vaaste-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#shayad-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#ringtone-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#aajbhi-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#loca-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#asalmein-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}


/**ThumbNails Backgrounds to divs**/
.mirage-thumb{
	background-image: url("../static/thumbnails/img1.JPG");
	background-size: cover;
}
.perfect-thumb{
	background-image: url("../static/thumbnails/img2.JPG");
	background-size: cover;
}
.slim-thumb{
	background-image: url("../static/thumbnails/img3.JPG");
	background-size: cover;
}
.raabata-thumb{
	background-image: url("../static/thumbnails/img4.JPG");
	background-size: cover;
}
.vaaste-thumb{
	background-image: url("../static/thumbnails/img5.JPG");
	background-size: cover;
}
.shayad-thumb{
	background-image: url("../static/thumbnails/img6.JPG");
	background-size: cover;
}
.ringtone-thumb{
	background-image: url("../static/thumbnails/img7.JPG");
	background-size: cover;
}
.aajbhi-thumb{
	background-image: url("../static/thumbnails/img8.JPG");
	background-size: cover;
}
.loca-thumb{
	background-image: url("../static/thumbnails/img1.JPG");
	background-size: cover;
}
.asalmein-thumb{
	background-image: url("../static/thumbnails/img2.JPG");
	background-size: cover;
}



/**radio song selects**/
#mirage:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#mirage:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#perfect:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#perfect:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#slim:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#slim:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#raabata:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#raabata:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#vaaste:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#vaaste:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#shayad:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#shayad:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#ringtone:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#ringtone:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#aajbhi:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#aajbhi:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#loca:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#loca:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#asalmein:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#asalmein:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

/**Aside Content Scrollbar**/
#aside-content::-webkit-scrollbar{
	width: 7px;
	background-color: transparent;
}
#aside-content::-webkit-scrollbar-track{
	background-color: #191919;
	border-radius: 70px;
}
#aside-content::-webkit-scrollbar-thumb{
	background-color: rgb(49, 49, 49);
	border-radius: 70px;
}


/******>>>>>>>>>>>>>>>>>>Main Section<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<,********/

main{
	width: 70vw;
	display: inline-block;
	margin-bottom: 100px;
}

/**-----------------carousel--------------------------**/
#carousel{
	height:320px;
	width: 800px;
}

#carousel-container {
	width: 90%;
	height: 78%;
	position: relative;
	top: 25%;
	left: 10%;
}
#carousel-image1{
	height: 90%;
	width: 70%;
	background-image: url('../static/carouselImg/Image1.jpg');
	background-size: cover;
	position: absolute;
	z-index: 0;
	overflow: hidden;
	transform: scale(0.8);
	opacity: 0.5;
	cursor: pointer;
	transition: transform 0.3s;
}

#carousel-image2{
	height: 90%;
	width: 70%;
	background-image: url('../static/carouselImg/Image2.jpg');
	background-size: cover;
	position: absolute;
	left: 15%;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
	transition: transform 10s;
	transition: all 0.3s;
	
}

#carousel-image3{
	height: 90%;
	width: 70%;
	background-image: url('../static/carouselImg/Image3.jpg');
	background-size: cover;
	position: absolute;
	z-index: 0;
	left: 30%;
	overflow: hidden;
	opacity: 0.5;
	cursor: pointer;
	transform: scale(0.8);
	transition: all 0.3s;
}

.carousel-box-shadow{
	box-shadow: 6px 6px 18px 7px rgba(0, 0, 0, 0.5);
}

#carousel-image2:hover{
	transform: scale(1.1);
}
#carousel-image1:hover{
	z-index: 2;
	opacity: 1;
	transform: scale(1.1);
}
#carousel-image3:hover{
	z-index: 2;
	opacity: 1;
	transform: scale(1.1);
}


/**###########-------------MAIN SECTION CONTENT--------------#######**/
.div-headings{
	font-family: sans-serif;
	letter-spacing: 1.2px;
	color: #FFFFFF;
}

.div-margins{
	margin-left: 10%;
}

/**>>>>>>>>>Latest Releases<<<<<<<<<**/
#latest-releases{
	margin-left: 10%;
}

#lr-heading h2{
	font-family: sans-serif;
	letter-spacing: 1.2px;
	color: #FFFFFF;
}

.lr-content{
	display: flex;
	flex-wrap: wrap;
}
.lr{
	width: 50%;
	min-width: 300px;
	display: flex;
	margin: 10px 0;
	cursor: pointer;
	transition: all 0.3s;
}
.lr:hover{
	box-shadow: 3px 3px 5px 7px rgba(0, 0, 0, 0.3);
}
.lr:hover > .lr-thumbnail{
	box-shadow: 2px 2px 15px 1px rgba(87, 250, 233, 0.3);
}
.lr-thumbnail{
	background-image: url('../static/thumbnails/img1.JPG');
	height: 80px;
	width: 80px;
	background-size: cover;
}
.lr-title{
	margin-left: 5%;
	margin-right: 30%;
}
.lr-song-name{
	font-size: 1.2rem;
	font-family: cursive;
	color: #FFFFFF;
}
.lr-song-date{
	font-size: 0.9rem;
	color: grey;
}
.lr-duration{
	margin-top: 5px;
}
.lr-duration i{
	color: #FFFFFF;
}
.lr-duration p{
	color: grey;
	font-size: 0.7rem;
}

/*>>>>>>>>>Popular Artists<<<<<<<<<*/
#popular-artists{
	margin-top: 5%;
}
#popular-artists-content{
	margin-top: 2%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.pa{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 8%;
	cursor: pointer;
	transition: transform 0.3s;
}	
.pa:hover{
	transform: scale(1.05);
}

.pa-img{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-image: url('../static/thumbnails/img7.JPG');
	background-size: cover;
	transition: box-shadow 0.3s;
}
.pa:hover > .pa-img{
	box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.pa-name p{
	font-size: 1.1rem;
	color: #ffffffb0;
	font-family: cursive;
}

/*>>>>>>>>>Stations<<<<<<<<<*/
#stations-container{
	background-color: #101642;
	margin-right: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px 0 10px 10px;
}
#stations-logo{
	width: 150px;
	height: 100px;
	margin: 20px 0;
	background-image: url('../static/thumbnails/stations.JPG');
	background-size: contain;
	background-repeat: no-repeat;
}
.st-img{
	width: 100px;
	height: 100px;
	margin: 20px 0;
	background-color: grey;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-size: cover;
	transition: opacity 0.3s;
}
.st-img:hover{
	opacity: 0.5;
}

.st-img p{
	font-weight: bold;
	font-family: cursive;
	letter-spacing: 2px;
	color: snow;
	opacity: 0;
	transition: opacity 0.3s;
}
.st-img:hover > p{
	opacity: 1;
}
a{
	text-decoration: none;
}

/* station images urls */
#st-love{
	background-image: url('../static/thumbnails/love.JPG');
}
#st-retro{
	background-image: url('../static/thumbnails/retro.JPG');
}
#st-chill{
	background-image: url('../static/thumbnails/chill.JPG');
}
#st-workout{
	background-image: url('../static/thumbnails/workout.JPG');
}
#st-rock{
	background-image: url('../static/thumbnails/rock.JPG');
}
#st-pop{
	background-image: url('../static/thumbnails/pop.JPG');
}

/*>>>>>>>>>Music Types<<<<<<<<<*/
#music-types-container{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}
.mt-img-container{
	width: 30%;
	height: 150px;
	cursor: pointer;
	box-shadow: 5px 7px 6px 8px rgba(0, 0, 0, 0.5);
	background-size: cover;
	overflow: hidden;
}
.mt-img p{
	font-size: 1.5rem;
	color: honeydew;
	font-family: cursive;
	letter-spacing: 2px;
}
.mt-img{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
}
.mt-img-container:hover > .mt-img{
	transform: scale(1.3);
}

/* music types urls */
#mt-party{
	background-image: url('../static/thumbnails/party.JPG');
}
#mt-electronic{
	background-image: url('../static/thumbnails/electronic.JPG');
}
#mt-roadtrip{
	background-image: url('../static/thumbnails/roadtrip.JPG');
}


/*>>>>>>>>>Latest English And Hindi<<<<<<<<<*/
#latest-english-container{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.le-content{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.le-img{
	height: 120px;
	width: 120px;
	background-size: cover;
	min-width: 80px;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px 7px 8px rgba(0, 0, 0, 0.3);
}
.le-img i{
	visibility: hidden;
	color: silver;
	transform: scale(2);
	opacity: 0.8;
}
.le-con{
	cursor: pointer;
	transition: opacity 0.3s;
}
.le-con:hover{
	opacity: 0.7;
}
.le-con:hover > .le-img i{
	visibility: visible;
}
.le-title{
	margin-top: 10%;
}
.le-name{
	color: rgba(186, 194, 194, 0.986);
	font-size: 20px;
	font-family: cursive;
}
.le-date{
	color: grey;
	font-size: 12px;
	font-family: sans-serif;
}

/* Latest Songs urls */
.le-img-1{
	background-image: url('../static/thumbnails/img3.JPG');
}
.le-img-2{
	background-image: url('../static/thumbnails/img4.JPG');
}
.le-img-3{
	background-image: url('../static/thumbnails/img5.JPG');
}
.le-img-4{
	background-image: url('../static/thumbnails/img6.JPG');
}
.le-img-5{
	background-image: url('../static/thumbnails/img7.JPG');
}
.le-img-6{
	background-image: url('../static/thumbnails/img8.JPG');
}


/*******------------------------Footer Audio---------------------*******/
footer{
	background-color: #0f2b0b;
	height: 70px;
	width: 100vw;
	margin-top: -70px;
	position: fixed;
	top:100vh;
	z-index: 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-shadow: 0 -4px 7px 5px rgba(0, 0, 0, 0.3);
}
.player{
	outline: none;
	background-color: transparent;
}
.player-title{
	display: flex;
	margin-top: 10px;
}
.player-title-img{
	height: 55px;
	width: 55px;
	background-image: url('../static/thumbnails/adhiraat.JPG');
	background-size: cover;
	box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.3);
}
.player-title-names{
	margin-left: 10px;
}
.player-title-names #player-title-song{
	color: rgba(240, 255, 240, 0.767);
	font-size: 20px;
	font-family: cursive;
}
.player-title-names p{
	font-family: sans-serif;
	color: rgb(92, 88, 88);
	font-size: 15px;
}
.player-title-extras input{
	display: none;
}
#pt-heart, #pt-solid-heart{
	position: absolute;
	top: 20px;
	margin-left: 20px;
	cursor: pointer;
}
#pt-heart{
	transform: scale(1.5);
}
#pt-solid-heart{
	transform: scale(0);
	color: red;
	transition: transform 0.3s;
}
#kiss-forever:checked ~ label #pt-solid-heart{
	transform: scale(1.47);
}
.player-container{
	margin-top: 10px;
}

/**######################## Media Query ###########################**/
@media screen and (max-width: 1050px){

	body{
		width: 100vw;
	}

	#nav-bar{
		width: 100%;
	}

	/**for nav bar**/
	#nav-fav, #nav-search, #bell-icon{
		overflow: hidden;
		max-width: 0;
		max-height: 0;
	}


	#menu{
		max-width: 100%;
	}

	#menu-open{
		height: 91vh;
		background-color: #40739e;
		left: 0;
		top: 100%;
		position: absolute;
		transition: max-width 0.5s ease-out;
		border-left: solid  #192a56 2px;
		max-width: 0;
		overflow: hidden;
	}
	#menu input:checked ~ #menu-open{
		max-width:100%; 
		box-shadow: -5px 6px 6px 1px rgba(0,0,0,0.67);
	}
	/**for carousal**/
	#carousel{
		width: 100vw;
	}
	#carousel-container{
		display: flex;
		height: 150px;
		width: 80vw;
	}
	#carousel-container div{
		position: relative;
		opacity: 1;
		left: 0;
		height: 80%;
	}
	

	/**for aside**/
	aside{
		display: block;
		width: 80vw;
		margin-left: 10%;
		margin-bottom: 140px;
		position: relative;
		height: auto;
	}
	.tabs{
		display: inline-block;
		width: 35vw;
		transform: scale(0.8);
	}
	#aside-content{
		overflow: hidden;
	}
	.song-tabs{
		width: 35vw;
	}
	.song-tab-left{
		display: block;
	}
	.aside-thumbnail-container{
		height: 90px;
		width: 90px;
	}
	main{
		margin-left: 10%;
		margin-bottom: 0;
	}
	/* for footer */
	footer{
		height: 150px;
		margin-top: -140px;
		display: block;
	}
	.player-title, .player-container{
		margin-left: 20%;
		margin-bottom: 10px;
	}
}

